POSTGRES_IMAGE_TAG=18.3-alpine
REDIS_IMAGE_TAG=8.6.2-alpine
KEYCLOAK_IMAGE_TAG=26.6.1
RABBITMQ_IMAGE_TAG=4.2.5-management-alpine
KAFKA_IMAGE_TAG=4.2.0
PROMETHEUS_IMAGE_TAG=v3.11.2
GRAFANA_IMAGE_TAG=13.0.1
OTEL_COLLECTOR_IMAGE_TAG=0.150.0

POSTGRES_DB=elitebet
POSTGRES_USER=elitebet
POSTGRES_PASSWORD=elitebet_dev_password
POSTGRES_PORT=5433

KEYCLOAK_DB=elitebet_keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_dev_password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=9090

REDIS_PASSWORD=redis_dev_password
REDIS_PORT=6380

RABBITMQ_DEFAULT_USER=elitebet
RABBITMQ_DEFAULT_PASS=rabbitmq_dev_password
RABBITMQ_DEFAULT_VHOST=elitebet
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

KAFKA_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

PROMETHEUS_PORT=9091
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

APP_IMAGE_TAG=local
APP_PORT=8080
SPRING_PROFILES_ACTIVE=local
