POSTGRES_DB=elitebet
POSTGRES_USER=elitebet
POSTGRES_PASSWORD=elitebet_dev_password
POSTGRES_PORT=5432

REDIS_PASSWORD=redis_dev_password
REDIS_PORT=6379

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=9090

RABBITMQ_DEFAULT_USER=elitebet
RABBITMQ_DEFAULT_PASS=rabbitmq_dev_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

KAFKA_PORT=9092

PROMETHEUS_PORT=9091
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000

APP_PORT=8080
